body {
  background-color: #3e2c41;
  color: white;
}

* {
  font-family: "EB Garamond", serif;
}

p {
  font-size: 32px;
}

h1 {
  font-family: "Gill Sans", sans-serif;
}

a {
  font-family: "Gill Sans", sans-serif;
  text-decoration: none;
  color: #6e85b2;
  font-size: 32px;
}

hr {
  border: #6e85b2 solid 2px;
  width: 270px;
}

a:hover {
  text-decoration: none;
  color: #d3a625;
}

i:hover {
  cursor: pointer;
}

.form-font {
  color: #6e85b2;
  font-size: 32px;
}

input {
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 4px 0 0 4px;
}

input:focus {
  outline: none;
}

.white-btn {
  background-color: white;
  border-radius: 0 4px 4px 0;
  border: none;
}

.white-btn:focus {
  outline: none;
}

.white-btn:hover {
  color: #d3a625;
}

.blue-btn {
  background-color: #6e85b2;
  font-family: "Gill Sans", sans-serif;
  color: white;
  padding: 0;
  width: 340px;
  height: auto;
  line-height: normal;
  border: none;
}

.blue-btn-small {
  width: 250px;
}

.blue-btn:hover {
  background-color: #d3a625;
  color: #3e2c41;
}

.btn-font {
  font-family: "Gill Sans", sans-serif;
  font-size: 25px;
}

.link {
  color: #6e85b2;
  outline: none;
  border: none;
  background-color: transparent;
}

.link:hover {
  color: #d3a625;
}

.mm-btn {
  position: relative;
}

.mm-btn:hover p {
  display: none;
}

.mm-btn[data-hover-text]::before {
  content: attr(data-hover-text);
  color: #3e2c41;
  background-color: #d3a625;
  position: absolute;
  border-radius: 0.3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.mm-btn[data-hover-text]:hover::before {
  opacity: 1;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.character-img-lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.character-img-wizard {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.img-container {
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #3e2c41;
  border-radius: 6px;
}

.category-img-container {
  width: 100px;
  height: 100px;
  border: #d3a625 3px solid;
  padding: 0;
  background-color: #3e2c41;
  border-radius: 4px;
}

.color-container {
  width: 94px;
  height: 94px;
  padding: 0;
  background-color: #3e2c41;
  border-radius: 6px;
}

.category-box {
  border: #d3a625 3px solid;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  padding: 0;
}

.results-category-box {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 0;
}

.legend-box {
  z-index: 0;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 0;
}

.search-options {
  background-color: rgb(240, 240, 240, 90%);
  width: 100%;
  border-radius: 4px;
}

.btn-absolute {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 2.4px;
  width: 94px;
  transform: translateY(-50%);
  background-color: rgb(110, 133, 178, 56%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.td-font {
  font-size: 1rem;
  margin: 0;
}

.error-font {
  color: #c40001;
  font-size: x-large;
}

.legend-container {
  width: 325px;
  border: solid 2px #d3a625;
}

.results-table-container {
  max-width: 100%;
  box-sizing: border-box;
}

.results-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.results-td {
  width: auto;
}

.results-tr {
  min-width: auto;
}

table {
  table-layout: fixed;
  width: 100%;
  min-width: 300px;
  height: auto;
}

tr {
  width: 100%;
  min-width: 925px;
}

th {
  padding: 0.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-align: center;
}

td {
  padding: 0.25rem;
}

td.show {
  opacity: 1;
}

th,
td {
  width: 115px;
}

.green {
  background-color: #44b44f;
}

.red {
  background-color: #c40001;
}

.yellow {
  background-color: #d3a625;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #5c527f;
  border-radius: 4px;
  background-clip: padding-box;
}

/* Custom Scrollbar */
.scroll-container {
  min-width: 300px;
  max-width: 950px;
  height: auto;
  overflow-x: scroll;
  position: relative;
  border: solid 2px #d3a625;
}

.scroll-btn-font {
  color: rgb(110, 133, 178, 56%);
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.scroll-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: calc(100% - 50px);
}

.guesses-font {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.green-font {
  color: #44b44f;
}

.yellow-font {
  color: #d3a625;
}

.red-font {
  color: #c40001;
}

.results-container {
  border: #d3a625 solid;
  background-color: rgb(240, 240, 240, 60%);
  max-width: 600px;
}

.hidden {
  opacity: 0;
}

.show {
  position: relative;
  animation-name: guess;
  animation-duration: 0.25s;
}

@keyframes guess {
  0% {
    opacity: 5%;
    right: 0;
    bottom: 20px;
  }

  25% {
    opacity: 10%;
    right: 0;
    bottom: 15px;
  }

  50% {
    opacity: 25%;
    right: 0;
    bottom: 10px;
  }

  100% {
    opacity: 100%;
    right: 0;
    bottom: 0;
  }
}

/* Loading.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  animation: spin 1.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgb(62, 44, 65, 75%);
  z-index: 1000;
}

.modal-content-box {
  background-color: #f0f0f0;
  border-radius: 4px;
  height: auto;
}

.modal-font {
  color: #3e2c41;
  font-size: 21px;
}

.modal-position {
  position: absolute;
  top: 40%;
  z-index: 1005;
}

.modal-btn {
  width: 150px;
  color: white;
  font-size: 25px;
  border: none;
}

.modal-btn:hover {
  color: #3e2c41;
}

.modal-btn:focus {
  outline: none;
}

.count-down {
  font-size: 45px;
}

.count-down-details {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 20px;
}

.yellow-instructions {
  font-size: 20px;
  color: #6e85b2;
  max-width: 480px;
  border: solid 2px #d3a625;
  border-radius: 4px;
}

.font-sub {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #d3a625;
}
